﻿<!DOCTYPE html>
<html ng-app="movieApp">
<head>
    <title>Add Movie</title>
	<meta charset="utf-8" />
</head>
<body ng-controller="MovieAddController">
<h1 align="center">Create Movie</h1>
    <form ng-submit="submit()" ng-controller="MovieAddController">
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Name</td>
                            <td><input type="text" name="name" ng-model="name" /></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td><textarea ng-model="description" name="description"></textarea></td>
                        </tr>
                        <tr>
                            <td>Director</td>
                            <td><input type="text" ng-model="director" name="director" /></td>
                        </tr>
                        <tr>
                            <td>Release Year</td>
                            <td><input type="text" ng-model="releaseyear" name="releaseyear" /></td>
                        </tr>
                        <tr>
                            <td>Rating</td>
                            <td><input type="text" ng-model="rating" name="rating" /></td>
                        </tr>
                        <tr>
                            <td>Language</td>
                            <td><input type="text" ng-model="language" name="language" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right"><input type="submit" id="submit" value="Submit" /></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--<script data-require="angular.js@<2" data-semver="1.5.8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>-->
    <script data-require="" data-semver="0.2.18" src="//cdn.rawgit.com/angular-ui/ui-router/0.2.18/release/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <script src="app/controllers/movieController.js"></script>
    <!--<script src="app/controllers/movieController.js"></script>-->
    <script src="app/controllers/movieAddController.js"></script>
</body>
</html>
