﻿<!DOCTYPE html>
<html ng-app="movieApp">
<head>
    <title>Detail Page</title>
	<meta charset="utf-8" />
</head>
<body ng-controller="MovieController as movie">
<h2>{{movieId}}</h2>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--<script data-require="angular.js@<2" data-semver="1.5.8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>-->
    <script data-require="" data-semver="0.2.18" src="//cdn.rawgit.com/angular-ui/ui-router/0.2.18/release/angular-ui-router.js"></script>
<script src="app.js"></script>
    <script src="app/controllers/movieDetailController.js"></script>
</body>
</html>
