﻿<!DOCTYPE html>
<html ng-app="movieApp">
<head>
    <title>My Movie Collection</title>
    <meta charset="utf-8"/>
</head>
<body class="container" ng-controller="MovieListController as movie">
<h1 align="center">{{title}}</h1>
<div ng-view></div>
<p align="right"><button type="button" name="addMovie" ng-click="AddMovie()">Add Movie</button>
</p>
<table align="center" width="1200px" border="1px">
    <tbody>
    <tr ng-repeat="movie in movieList">
        <td>
            <table>
                <tr border="1px">
                    <td border="0px">{{movie.Name}}</td>
                    <td border="0px">
                        <div movie-directive rating-value="movie.Rating" max="5" readonly="true"></div></td>
                </tr>
                <tr border="1px">
                    <td colspan="2" border="0px">{{movie.Description}}</td>
                </tr>
                <tr border="1px">
                    <td colspan="2" border="0px" align="right"><button type="button" name="Details" ng-click="ViewDetails(movie.Id)">Details</button></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>-->
    <script src="scripts/angular.min.js"></script>
<script src="scripts/angular-route.min.js"></script>
<script src="scripts/angular-ui-router.min.js"></script>

<script src="app.js"></script>
<script src="app/controllers/movieListController.js"></script>
<script src="app/services/movieService.js"></script>
<script src="app/directives/movieRateDirective.js"></script>
<link href="Style.css" rel="stylesheet"/>
</body>
</html>
